@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

body {
    font: 18px "Nunito", sans-serif;
    color: black;
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: '';
        position: fixed;
        inset: 0;
        z-index: -1;
        pointer-events: none;
        background: url("../img/cs-bg-2.png") no-repeat bottom;
        background-size: cover;
        animation: backgroundZoomAnimation 20s forwards;
    }
}

@keyframes backgroundZoomAnimation {
    from {
        transform: scale(1);
    }
    to {
        transform:scale(1.2);
    }
}

.profile-card {
    box-shadow: 0 18px 200px -60px black;
    border-radius: 50px;
    width: 650px;
    position: relative;
    backdrop-filter: blur(9px);
    border: 2px solid #ffffff40;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media screen and (max-width: 768px) {
        width: auto;
        padding: 2rem 3rem;
        gap: 30px;
    }

    &__img img{
        margin: auto;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        display: block;
        box-shadow: 0 10px 60px -10px rgba(13, 28, 39, .5);
    }

    &__desc {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 25px;

        @media screen and (max-width: 768px) {
            gap: 15px;
        }

        h1 {
            font-size: 2.5rem;
            font-weight: bold;

            @media screen and (max-width: 768px) {
                font-size: 2rem;
            }

            @media screen and (max-width: 576px) {
                font-size: 1.5rem;
            }
    
            & + div {
                font-size: 20px;

                @media screen and (max-width: 768px) {
                    font-size: 16px;
                }
        
            }
        }
    }

    // &__info {
    //     display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        // grid-gap: 5px;
        // justify-content: center;
        // justify-items: auto;

    // }
    &__info {
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;

        @media screen and (max-width: 800px) {
            gap: 20px;
            flex-wrap: wrap;
        }
        
        @media screen and (max-width: 576px) {
            gap: 10px;
            
        }

        & > div {
            
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            text-align: center;

            & > *:first-child{
                font-weight: bold;
                letter-spacing: 3px;
                font-size: 2rem;
                margin-bottom: 15px;

                @media  screen and (max-width: 768px){
                    font-weight: bold;
                    letter-spacing: 2px;
                    font-size: 1.5rem;
                    margin-bottom: 15px;
                }

                @media  screen and (max-width: 576px){
                    font-weight: bold;
                    letter-spacing: 1px;
                    font-size: 1.2rem;
                    margin-bottom: 10px;
                }
            }

            & > *:last-child{
                font-size: 15px;
                opacity: .7;

                @media  screen and (max-width: 768px){
                    font-size: 12px;
                }

                @media  screen and (max-width: 768px){
                    font-size: 10px;
                }
            }
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        a {
            display: inline-flex;
            width: 55px;
            height: 55px;
            margin: 15px;
            border-radius: 40%;
            align-items: center;
            justify-content: center;
            color: whitesmoke;
            position: relative;
            flex-shrink: 0;
            transition: all .2s;

            @media  screen and (max-width: 768px){
                width: 50px;
                height: 50px;
                margin: 10px;
            }

            @media  screen and (max-width: 576px){
                width: 40px;
                height: 40px;
                margin: 5px;
            }

            @media screen and (min-width: 768px) {
                &:hover{
                    transform: scale(1.2) translateY(-5px);
                }
            }

            &.facebook {
                background: linear-gradient(45deg, #3b5998, #0078d7);
                box-shadow: 0 4px 30px rgba(43, 98, 169, 0.5);
            }

            &.instagram {
                background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
                box-shadow: 0 4px 30px rgba(120, 64, 190, 0.6);
            }

            &.linkedin {
                background: linear-gradient(45deg, #1769ff, #213fca);
                box-shadow: 0 4 px 30px rgba(27, 86, 231, 0.7);
            }
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        @media screen and (max-width: 576px) {
            flex-wrap: wrap;
            gap:1rem;
        }

        &>div {
            font-weight: bold;
            font-size: 25px;
            padding: 10px;
            width: 200px;
            height: 65px;
            border-radius: 20px;
            color: whitesmoke;
            cursor: pointer;
            transition: all .2s;
            text-align: center;


            

            @media screen and (max-width: 576px){
                font-size: 20px;
            }

            @media screen and (min-width: 576px){
                &:hover{
                    transform: translateY(-5px);
                }
            }

            &.gradient{
                background: linear-gradient(45deg,   #94151a, #B9292F, #fd2930, #231F20, #1d1719,#000);
                box-shadow: 0 4px 30px rgba(230, 38, 38, 0.5);
                display: flex;
                flex-direction: column;
                align-items: center;
            }

        
        }
    }

    .img-wrapper {
        max-width: 150px;
        margin: auto;
    }

    .img-wrapper > img {
        width: 100%;
    }
}